body {
    background-color: rgba(199, 234, 228, 0.5);
    color: #ffffff;
    
    
  }

.filter-container {
  padding-top: none;
  margin-top: none;
  

}

.container{
  
  background-color: rgba(127, 198, 182, 0.5);
  width: 80%; /* Set the width to 80% of the parent element */
  max-width: 1800px; /* Optional: set a maximum width */
  margin-bottom: 100px;
  
}



.cover_container {
  position: relative;
  width: 100%;
  height: 330px; /* Cover half of the viewport height */
  background-image: url('images/exercise_select.png'); /* Replace with your image URL */
  background-size: contain;
  background-position: center;
  
  background-repeat: no-repeat;

  
  margin-bottom: 20px;
}


.filter-container {
  background-color: rgba(127, 198, 182, 0.5)13185e;
  border-radius: 8px;  
}
.filter-container .form-control, .filter-container .btn, .filter-container .form-select {
  background-color: #828de9;
  color: #270202;
  border-color: #6c757d;
}
.filter-container .btn-primary {
  background-color: #e65c00;
  border-color: #e65c00;
}
.filter-container .btn-primary:hover {
  background-color: #cc5200;
  border-color: #cc5200;
}
.filter-container .btn-group .btn {
  background-color: #1c1e22;
  border-color: #6c757d;
}
.filter-container .btn-group .btn.active {
  background-color: #b33900;
  border-color: #b33900;
}
.filter-container .btn-group .btn:hover {
  background-color: #343a40;
  border-color: #6c757d;
}

.img-fluid{
  height: 200px;
  width: 200px;
  
  border: 10px solid #3239a0; ;
  
  margin-top: 100px;
  margin-bottom: 100px;
  
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}

