body{
  background-color: #AFEEEE;
}
.custom-jumbotron {
  margin-top: 100px;
  background-color: #FF69B4; /* Light gray background */
  border: 2px solid #00FFFF; /* Dark border */
  border-radius: 10px; /* Rounded corners */
  padding: 2rem; /* Padding */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5); /* Add shadow */
}
.custom-jumbotron h1,
.custom-jumbotron .lead {
  color: #343a40; /* Dark text color */
}
.custom-jumbotron hr {
  border-top-color: #343a40; /* Dark color for horizontal rule */
}
.custom-jumbotron label {
  font-size: 18px; /* Custom font size */
}
.custom-jumbotron .form-control {
  font-size: 18px; /* Custom font size */
  background-color:#E6E6FA ;
}

/* Aqua Blue Button */
.btn-candyland {
  background-color: #00FFFF; /* Aqua Blue */
  border-color: #00FFFF; /* Matching border color */
  color: #FFFFFF; /* White text color */
}

h1,h3{

  color:#2F4F4F;
}
