

{% extends "base.html" %}
{%load static%}

{%block css_files%}
    <link rel="stylesheet" href ="{%static "answer_questions/exercise_details.css" %}"-->
{%endblock%}

{%block page_title%}
Answer the question
{%endblock%}

{% block content %}

<div class="container">
  <div class="sub_container">
    <div class="cover_container"></div>
      
    
    

    <div class="custom-jumbotron mt-5">
      
      <h3 class="question_head"> {{ exercise.head }}</h3>
        
      <p class="lead fw-bold fs-4">{{ question.text }}</p>
      <hr class="my-4">
      <form action="{% url 'exercise_detail' exercise_id=exercise.id question_id=question.question_number %}" method="post">
        {% csrf_token %}

        <div class="form-group">
          <label for="answer" class="form-label fs-4 fw-bold">Your Answer:</label>
            
            <div class="container_03 ">
              
              
                
                <div class="input_show">
                  <input class="input_jumbo"type="text" id="answer" name="answer">
                  <button class="btn-candyland_03">show answer</button>
              
              </div>  
            </div>

          </div>
          <div  class="container_02 text-center" >
            <div class="row  row-cols-4">
              <div class="col">
                <button name="button" value="back" type="submit" class="btn btn-candyland_01 mt-4 col-md-8">Back</button>
                
              </div>
              <div class="col"></div>
              <div class="col"></div>
                
              <div class="col">
              
                <button name="button" value="next" type="submit" class="btn btn-candyland_02 mt-4 col-md-8">Next</button>
              </div>
            
            
        </div>
      </form>
      </div>
    </div>
  </div>
</div>
  

{%endblock%}
