

{% extends "base.html" %}
{%load static%}
{%block css_files%}
    <link rel="stylesheet" href ="{%static "answer_questions/quiz.css" %}"-->
{%endblock%}

{%block page_title%}
Answer the question
{%endblock%}

{% block content %}

<div class="container-xxl mt-5">
    
    <h1 > {{ exercise.name }} </h1>
    <h3> {{ exercise.head }}</h3>

</div>

<div class="container">
    <div class="custom-jumbotron mt-5">
      
      <p class="lead fw-bold fs-4">{{ question.text }}</p>
      <hr class="my-4">
      <form action="{% url 'check_answer' exercise_id=exercise.id question_id=question.question_number %}" method="post">
        {% csrf_token %}
        <div class="form-group">
          <label for="answer" class="form-label fs-4 fw-bold">Your Answer:</label>
          <input type="text" class="form-control w-50 fw-bold fs-4" id="answer" name="answer">
        </div>
        <button type="submit" class="btn btn-candyland mt-3">Submit Answer</button>
      </form>
    </div>
  </div>
  

{%endblock%}
