{% extends "base.html" %}
{%load static%}
{%block css_files%}
    <link rel="stylesheet" href ="{%static "fill_the_gaps/quiz.css" %}">
{%endblock%}

{%block page_title%}
fill the gaps

{%endblock%}


{% block content %}
<div class="sentence">
    <form action="{% url 'questions' question_no %}" method="post">
        {% csrf_token %}

        {% for word in question.sentence.split %}
            {% if forloop.counter == question.gapWord %}  {# Check if the word is at position 3 #}
                <input class="input"  type="text" id="gap_word" name="gap_word">
            {% else %}
                {{ word }}
            {% endif %}
        {% endfor %}
        <button class="btn" type="submit" name="submit">Submit</button>
    </form>
</div>
{% endblock %}
